# Logs
*.log
logs/

# Dependencies
frontend/node_modules/
backend/node_modules/
vendor/

# Build artifacts
build/
dist/
target/

# Environment variables
frontend/.env
backend/.env

# IDE specific files
.idea/
.vscode/
*.iml